/* 
  color: #272142; */

:root {
  --primary-color: #1b1b1b;
  --secondary-color: #202020;
  --tertiary-color: #2d2727;
  --default-font-family: "Roboto", sans-serif;
  --secondary-font-family: "Montserrat", sans-serif;
}

body {
  font-family: var(--default-font-family);
  background-color: var(--primary-color);
}

h1,
h2 {
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
}

h1 {
  font-size: 24px;
  letter-spacing: 0.2rem;
  margin-bottom: 25px;
}

h2 {
  font-size: 72px;
  letter-spacing: 0.5rem;
  margin-bottom: 30px;
}

h3 {
  font-size: 18px;
  color: #fff;
  margin-bottom: 66px;
  line-height: 30px;
  font-weight: 400;
}

p {
  color: #ffffff;
  font-size: 17px;
  line-height: 1.7;
}

.btn-branding {
  text-transform: uppercase;
  background-color: #fff;
  text-decoration: none;
  padding: 18px 40px;
  color: #272142;
  border-radius: 50px;
  font-family: var(--secondary-font-family);
  font-size: 14px;
  width: 200px;
  letter-spacing: 0.1rem;
}

.btn-branding:hover {
  color: #fff;
  background: var(--secondary-color);
}

.hero {
  background-color: var(--primary-color);
  text-align: center;
  padding-top: 200px;
  padding-bottom: 300px;
  background-image: url("/images/dance-1-darker.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.content {
  margin: 100px auto;
  width: 90%;
}

.homepage-thumbnails {
  height: 280px;
  width: auto;
}

.workpage-thumbnails {
  height: 280px;
  width: auto;
}

.workpage-thumbnails-tall {
  padding-right: 150px;
}

.content .row {
  margin-bottom: 40px;
  margin-top: 100px;
}

.content h2 {
  font-size: 40px;
}

.style-description {
  padding: 0 40px;
}

.about-header {
  margin-top: 50px;
  padding-left: 40px;
  color: #ffffff;
}

h1.about-heading {
  font-size: 18px;
  color: #f65282;
  margin-bottom: 32px;
}

h2.about-heading {
  font-size: 64px;
  line-height: 75px;
  margin-bottom: 34px;
}

.about-header p {
  margin-bottom: 50px;
}

.about-header .social-link-icon {
  padding-right: 25px;
  font-size: 18px;
}

.about-header .social-links {
  margin-bottom: 65px;
}

div.about-details {
  margin: 100px auto;
  width: 80%;
}

h1.work-heading {
  font-size: 72px;
  text-align: center;
  letter-spacing: 0.5rem;
  margin-top: 32px;
  line-height: 84px;
}

@media (max-width: 800px) {
  h2 {
    font-size: 48px;
    text-align: center;
  }

  p {
    text-align: center;
  }

  .hero {
    background-size: 500px;
    background-position: 25% 0%;
    padding: 50px 0;
    width: fit-content;
    justify-content: center;
    padding-bottom: 50px;
  }

  .content {
    width: fit-content;
    padding: 0 auto;
    margin: 0 auto;
  }

  .style-description {
    padding: 0;
    margin: 0 auto;
  }

  .content .row {
    margin: 40px auto;
  }

  .content h2 {
    font-size: 30px;
  }

  div.about-details {
    width: 100%;
    font-size: 18px;
    padding: 15px;
  }

  .about-header {
    text-align: center;
    padding: 20px;
  }
}
